---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Assignment 1.9 Memory Lane</h2>

	<p>
		<strong>Objective:</strong> Deploy a static website to function as a blog or journal
	</p>

	<p>
		<strong>Key Topics:</strong>
	</p>

	<ul>
		<li>Choosing suitable technology</li>
		<li>Working with React or HTML for page structure</li>
		<li>Utilizing a Headless CMS, Markdown, or other format for data</li>
		<li>Utilizing CSS, TailwindCSS, Styled Components, or another styling solution</li>
		<li>Managed through GitHub</li>
		<li>Hosted via GitHub or a PaaS provider such as Netlify or Heroku
		</li>
	</ul>

	<p>
		<strong>Overview:</strong>
		<br>
		You will deploy a static website with customized styling and structure that will be content filled with at least 3 short posts on topics related to technology, something you've learned related to your studies recently, or a resource that you would like to review and share your thoughts on that is related to your studies.
	</p>

</BaseLayout>
