---
const platform = "github";
const username = "WallaceAnthony-FS";
const repository = "memory-lane";
---

<footer>
  <p>View the source code on <a href={`https://www.${platform}.com/${username}/${repository}`}>{platform}</a>!</p>
</footer>

<style>
  footer {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
  }
</style>